.dropdown-text {
    display: flex;
    border: 1px solid #D6DADC;
    color: #5A666C;
    padding: 1rem 0 1rem 0;
}

.dropdown-title-label {
    color: #003100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
}

.dropdown-content-links {
    padding: 12px 16px;
    display: block;
}

.dropdown-content-links:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}