/*  TODO: Change typeface to ProximaNova upon receipt of font license. */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vh;
    line-height: 1.3rem;
}

.page-background {
    background: #F7F9FA;
}

.subheading-text {
    font-size: 0.9rem;
}

.wide-letter-spacing {
    letter-spacing: 0.45px;
}

.list-background {
    background: white;
}

.rounded-corner-boundary {
    border-radius: 4px;
}

.list-boundary {
    padding: 0;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.list-separator {
    border-bottom: 1px solid #D6DADC;
}

.list-element-margin {
    width: 92vw;
    margin: 1rem auto auto auto;
}

.show-more-button {
    background: #848E93;
    color: white;
    height: 2.6rem;
    width: 11.9rem;
    font-weight: bold;
    border: 2px solid #848E93;
    margin: 1.5rem 2rem 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 2.5rem 0 1rem 0;
}

.hidden-flex-div {
    flex: 0 0 5%;
}

.large-hidden-flex-div {
    flex: 20 0 5%;
}

.location-connecting-line {
    height: 4rem;
}

.location-connecting-line-wrapper {
    padding: 0.3rem 0.7rem 1rem 1rem;
    max-width: 5vw; /* Allows alt text space to show if needed */
}

.location-text {
    font-weight: bold;
}

.date-text {
    color: #7F8D99;
    letter-spacing: 0.4px;
    padding-bottom: 0.9rem;
}

.price-text {
    width: 9rem;
    font-weight: bold;
    color: #49A54E;
}

.name-text {
    text-align: center;
    font-size: 1.2rem;
    color: #B4BBBF;
    height: 3rem;
    padding-top: 1rem;
}
